<nav class="navbar navbar-expand-sm px-4">
    <a class="navbar-brand" routerLink="home">Peliculas</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="ms-auto d-flex">
            <input #txtBuscar (keyup.enter)="buscarPelicula(txtBuscar.value)" class="form-control mr-2" type="search" placeholder="Buscar Pelicula" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="button" (click)="buscarPelicula(txtBuscar.value)">Search</button>
        </div>
    </div>
</nav>