<swiper [slidesPerView]="1" [spaceBetween]="50" (swiper)="onSwiper($event)" (slideChange)="onSlideChange()" [navigation]="true" [loop]="true">
    <ng-template swiperSlide *ngFor="let movie of movies">
        <div class="row align-items-end" style="height: 400px;" [ngStyle]="{
            'background-size': 'cover',
            'background-image': 'url(https://image.tmdb.org/t/p/w500'+ movie.backdrop_path +')',
            'background-position': 'top' }">
            <div class="col info-pelicula">
                <h1 class="text-white">{{movie.title}}</h1>
                <p>{{movie.overview | slice:0:200}}...</p>
            </div>
        </div>
    </ng-template>
</swiper>